.container  
  iframe( width='560', height='315', src='https://www.youtube.com/embed/OLpS0Q9ukBQ?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/CH_x9lqRqTg?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/t7SWm317-B4?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/1mn3MhPFkBw?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/LZAWnGxgRq4?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/eSQ_4vzHcdM?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/e5vWOx9V3UE?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/gOoDSxefal4?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/ubd9m8ins0A?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
  iframe( width='560', height='315', src='https://www.youtube.com/embed/LWBR_bxgbOQ?autoplay=1&loop=1', frameborder='0', allowfullscreen='true' )
