.container-fluid
  .row
    .col-lg-12
      iframe.youtubeIframe#fuck( src='https://www.youtube.com/embed/OLpS0Q9ukBQ?autoplay=1&loop=1&controls=0&playlist=OLpS0Q9ukBQ', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/CH_x9lqRqTg?autoplay=1&loop=1&controls=0&playlist=CH_x9lqRqTg', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/t7SWm317-B4?autoplay=1&loop=1&controls=0&playlist=t7SWm317-B4', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/1mn3MhPFkBw?autoplay=1&loop=1&controls=0&playlist=1mn3MhPFkBw', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/LZAWnGxgRq4?autoplay=1&loop=1&controls=0&playlist=LZAWnGxgRq4', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/eSQ_4vzHcdM?autoplay=1&loop=1&controls=0&playlist=eSQ_4vzHcdM', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/e5vWOx9V3UE?autoplay=1&loop=1&controls=0&playlist=e5vWOx9V3UE', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/gOoDSxefal4?autoplay=1&loop=1&controls=0&playlist=gOoDSxefal4', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/ubd9m8ins0A?autoplay=1&loop=1&controls=0&playlist=ubd9m8ins0A', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/LWBR_bxgbOQ?autoplay=1&loop=1&controls=0&playlist=LWBR_bxgbOQ', frameborder='0', allowfullscreen='true' )
