.container-fluid
  .row
    .col-lg-12( style='padding:5px;' )
      | Fuck this shit
      ul( class="gallery gallery5" ng-controller="GalleryCtrl" )
        li( ng-repeat="image in images" )
          a( ng-click="Lightbox.openModal(images, $index)" )
            img( ng-src="{{image.thumbUrl}}" class="img-thumbnail" )
      
