.container-fluid
  .row
    .col-lg-12( style='padding:5px;' )
      //- img.tinyFuckHorse( src='assets/images/fuck5.jpg' )
      //- img.tinyFuckHorse( src='assets/images/fuck6.jpg' )
      //- img.tinyFuckHorse( src='assets/images/fuck7.jpg' )
      //- img.tinyFuckHorse( src='assets/images/fuck8.jpg' )
      //- img.tinyFuckHorse( src='assets/images/fuck9.jpg' )
      img.tinyFuckHorse.visible-xs-inline( src='assets/images/fuck10.jpg' )
      img.tinyFuckHorse.visible-xs-inline( src='assets/images/fuck11.jpg' )

      img.smallFuckHorse.visible-xs-inline( src='assets/images/fuck5.jpg' )
      img.smallFuckHorse.visible-xs-inline( src='assets/images/led7.jpg' )
      img.smallFuckHorse.visible-xs-inline( src='assets/images/led8.jpg' )
      img.smallFuckHorse.visible-xs-inline( src='assets/images/fuck12.jpg' )
      img.smallFuckHorse.visible-xs-inline( src='assets/images/fuck9.jpg' )
      img.smallFuckHorse.visible-xs-inline( src='assets/images/fuck10.jpg' )
      img.smallFuckHorse.visible-xs-inline( src='assets/images/fuck11.jpg' )
      img.smallFuckHorse.visible-xs-inline( src='assets/images/grid2.jpg' )

      img.fuckHorse.visible-xs-inline( src='assets/images/grid2.jpg' )

      iframe.youtubeIframe( src='https://www.youtube.com/embed/OLpS0Q9ukBQ?autoplay=1&loop=1&controls=0&playlist=OLpS0Q9ukBQ', frameborder='0', allowfullscreen='true' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/led8.jpg' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/CH_x9lqRqTg?autoplay=1&loop=1&controls=0&playlist=CH_x9lqRqTg', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/t7SWm317-B4?autoplay=1&loop=1&controls=0&playlist=t7SWm317-B4', frameborder='0', allowfullscreen='true' )
      img.tinyFuckHorse.visible-xs-inline( src='assets/images/fuck8.jpg' )
      img.tinyFuckHorse.visible-xs-inline( src='assets/images/fuck9.jpg' )
      img.tinyFuckHorse.visible-xs-inline( src='assets/images/fuck10.jpg' )
      img.tinyFuckHorse.visible-xs-inline( src='assets/images/fuck11.jpg' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/1mn3MhPFkBw?autoplay=1&loop=1&controls=0&playlist=1mn3MhPFkBw', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/LZAWnGxgRq4?autoplay=1&loop=1&controls=0&playlist=LZAWnGxgRq4', frameborder='0', allowfullscreen='true' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/fuck5.jpg' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/led7.jpg' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/led8.jpg' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/fuck12.jpg' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/fuck9.jpg' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/fuck10.jpg' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/fuck11.jpg' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/grid2.jpg' )
      
      iframe.youtubeIframe( src='https://www.youtube.com/embed/eSQ_4vzHcdM?autoplay=1&loop=1&controls=0&playlist=eSQ_4vzHcdM', frameborder='0', allowfullscreen='true' )
      img.tinyFuckHorse.visible-xs-inline( src='assets/images/fuck8.jpg' )
      img.tinyFuckHorse.visible-xs-inline( src='assets/images/fuck9.jpg' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/e5vWOx9V3UE?autoplay=1&loop=1&controls=0&playlist=e5vWOx9V3UE', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/gOoDSxefal4?autoplay=1&loop=1&controls=0&playlist=gOoDSxefal4', frameborder='0', allowfullscreen='true' )
      img.smallFuckHorse.pull-right.visible-xs-inline( src='assets/images/led7.jpg' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/ubd9m8ins0A?autoplay=1&loop=1&controls=0&playlist=ubd9m8ins0A', frameborder='0', allowfullscreen='true' )
      iframe.youtubeIframe( src='https://www.youtube.com/embed/LWBR_bxgbOQ?autoplay=1&loop=1&controls=0&playlist=LWBR_bxgbOQ', frameborder='0', allowfullscreen='true' )
      //- iframe.visible-xs-block.mobileIframe( style='width:100%;', src='https://www.youtube.com/embed/videoseries?list=PLNKUfm5OEZfsHPjg-Ox2Y91y5gtg-g4mx', frameborder='0', allowfullscreen='true' )

      img.fuckHorse( src='assets/images/proto.jpg' )
      img.fuckHorse( src='assets/images/type.jpg' )
      img.fuckHorse( src='assets/images/horse.jpg' )
      a( href='https://twitter.com/prototypehorse', target='_blank' )
        img.fuckHorse( src='assets/images/twitter.jpg' )
      img.smallFuckHorseTall( src='assets/images/statement.jpg' )
      a( href='mailto:info@prototype.horse' )
        img.fuckHorse( src='assets/images/email.jpg' )
      img.fuckHorse( src='assets/images/led1.jpg' )
      img.fuckHorse( src='assets/images/fuck12.jpg' )

      //- .fuckhorse.fuck
      //-   | introducing noise, forced new realities, destructing order and purpose. best practices. beast

      img.smallFuckHorseTall( src='assets/images/led2.jpg' )
      img.smallFuckHorse( src='assets/images/led3.jpg' )
      img.tinyFuckHorse( src='assets/images/led4.jpg' )
      img.fuckHorse( src='assets/images/led5.jpg' )
      img.smallFuckHorse( src='assets/images/led6.jpg' )
      img.smallFuckHorse( src='assets/images/led7.jpg' )
      img.smallFuckHorse( src='assets/images/led8.jpg' )

      img.smallFuckHorse( src='assets/images/fuck5.jpg' )
      img.smallFuckHorse( src='assets/images/fuck6.jpg' )
      img.smallFuckHorse( src='assets/images/fuck7.jpg' )
      img.smallFuckHorse( src='assets/images/fuck8.jpg' )
      img.smallFuckHorse( src='assets/images/fuck9.jpg' )
      img.smallFuckHorse( src='assets/images/fuck10.jpg' )
      img.smallFuckHorse( src='assets/images/fuck11.jpg' )
      img.smallFuckHorse( src='assets/images/grid2.jpg' )

      img.tinyFuckHorse( src='assets/images/fuck1.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck3.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck1.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck2.jpg' )
      img.tinyFuckHorse( src='assets/images/grid.jpg' )
      img.tinyFuckHorse( src='assets/images/grid2.jpg' )

      img.tinyFuckHorse( src='assets/images/fuck5.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck6.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck7.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck8.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck9.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck10.jpg' )
      img.tinyFuckHorse( src='assets/images/fuck11.jpg' )
      img.tinyFuckHorse( src='assets/images/grid2.jpg' )







    //- .row
    //-   .col-lg-12( style='padding:5px;font-family:arial;font-size:255px;' )
    //-     .youtubeIframe
    //-       .fuck
    //-         p
    //-           a( href='https://twitter.com/prototypehorse', target='_blank' ) @prototypehorse
    //- .row
    //-   .col-lg-12( style='padding:5px;font-family:baskerville;font-size:255px;' )
    //-     .youtubeIframe
    //-       .fuck
    //-         p
    //-           a( href='mailto:info@prototype.horse' ) info@prototype.horse
    //-         p
    //-           br
    //-           br
    //- .row
    //-   .col-lg-12( style='padding:5px;font-family:baskerville;font-size:255px;' )
    //-     | FUCK Prototype horse

//- .container-fluid( ng-if='grid')
//-   .row
//-     .col-lg-12( style='padding:5px;' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/OLpS0Q9ukBQ?autoplay=1&loop=1&controls=0&playlist=OLpS0Q9ukBQ', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/CH_x9lqRqTg?autoplay=1&loop=1&controls=0&playlist=CH_x9lqRqTg', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/t7SWm317-B4?autoplay=1&loop=1&controls=0&playlist=t7SWm317-B4', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/1mn3MhPFkBw?autoplay=1&loop=1&controls=0&playlist=1mn3MhPFkBw', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/LZAWnGxgRq4?autoplay=1&loop=1&controls=0&playlist=LZAWnGxgRq4', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/eSQ_4vzHcdM?autoplay=1&loop=1&controls=0&playlist=eSQ_4vzHcdM', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/e5vWOx9V3UE?autoplay=1&loop=1&controls=0&playlist=e5vWOx9V3UE', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/gOoDSxefal4?autoplay=1&loop=1&controls=0&playlist=gOoDSxefal4', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/ubd9m8ins0A?autoplay=1&loop=1&controls=0&playlist=ubd9m8ins0A', frameborder='0', allowfullscreen='true' )
//-       iframe.youtubeIframe.hidden-xs( src='https://www.youtube.com/embed/LWBR_bxgbOQ?autoplay=1&loop=1&controls=0&playlist=LWBR_bxgbOQ', frameborder='0', allowfullscreen='true' )
//-       iframe.visible-xs-block.mobileIframe( style='width:100%;', src='https://www.youtube.com/embed/videoseries?list=PLNKUfm5OEZfsHPjg-Ox2Y91y5gtg-g4mx', frameborder='0', allowfullscreen='true' )
//- 
//-       img.fuckHorse( src='assets/images/grid2.jpg' )
//-       img.fuckHorse( src='assets/images/proto.jpg' )
//-       img.fuckHorse( src='assets/images/type.jpg' )
//-       img.fuckHorse( src='assets/images/horse.jpg' )
//-       a( href='https://twitter.com/prototypehorse', target='_blank' )
//-         img.fuckHorse( src='assets/images/twitter.jpg' )
//-       a( href='mailto:info@prototype.horse' )
//-         img.fuckHorse( src='assets/images/email.jpg' )
//-       img.fuckHorse( src='assets/images/led1.jpg' )
//-       img.fuckHorse( src='assets/images/fuck12.jpg' )
//- 
//-       img.smallFuckHorseTall( src='assets/images/led2.jpg' )
//-       img.smallFuckHorse( src='assets/images/led3.jpg' )
//-       img.tinyFuckHorse( src='assets/images/led4.jpg' )
//-       img.fuckHorse( src='assets/images/led5.jpg' )
//-       img.smallFuckHorse( src='assets/images/led6.jpg' )
//-       img.smallFuckHorse( src='assets/images/led7.jpg' )
//-       img.smallFuckHorse( src='assets/images/led8.jpg' )
//- 
//-       img.smallFuckHorse( src='assets/images/fuck5.jpg' )
//-       img.smallFuckHorse( src='assets/images/fuck6.jpg' )
//-       img.smallFuckHorse( src='assets/images/fuck7.jpg' )
//-       img.smallFuckHorse( src='assets/images/fuck8.jpg' )
//-       img.smallFuckHorse( src='assets/images/fuck9.jpg' )
//-       img.smallFuckHorse( src='assets/images/fuck10.jpg' )
//-       img.smallFuckHorse( src='assets/images/fuck11.jpg' )
//-       img.smallFuckHorse( src='assets/images/grid2.jpg' )
//- 
//-       img.tinyFuckHorse( src='assets/images/fuck1.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck3.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck1.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck2.jpg' )
//-       img.tinyFuckHorse( src='assets/images/grid.jpg' )
//-       img.tinyFuckHorse( src='assets/images/grid2.jpg' )
//- 
//-       img.tinyFuckHorse( src='assets/images/fuck5.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck6.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck7.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck8.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck9.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck10.jpg' )
//-       img.tinyFuckHorse( src='assets/images/fuck11.jpg' )
//-       img.tinyFuckHorse( src='assets/images/grid2.jpg' )
//- 
//- 
//- 
//- 
//- 
//- 
