/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$body-bg:               #fbeed3 !default;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.youtubeIframe {
  display:inline-block;
  width:32%;
  background-color:$body-bg;
  @media (max-width: $screen-sm-min) {
    width:100%;
  }
  margin-left:2px;
  margin-right:0;
  margin-top:2px;
}
.fuckHorse {
  display:inline-block;
  width:33%;
  background-color:$body-bg;
  @media (max-width: $screen-sm-min) {
    width:50%;
  }
}
.smallFuckHorse, .smallFuckHorseTall {
  display:inline-block;
  width:20%;
  background-color:$body-bg;
  @media (max-width: $screen-sm-min) {
    width:25%;
  }
}
.tinyFuckHorse {
  display:inline-block;
  width:5%;
  background-color:$body-bg;
  @media (max-width: $screen-sm-min) {
    width:10%;
  }
}
.fuck {
  color: #d9bfa0;
  font-family:futura;
  font-size:100px;
}
.pageTitle {
  font-family: impact;
  font-weight:1000;
}
a {
  color:#d9bfa0;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
